/*!------------------------------------------------------------------
[MAIN STYLESHEET]
PROJECT:	Robert Walser
VERSION:	0.0.1
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
[TABLE OF CONTENTS]
-------------------------------------------------------------------*/
@import 'variables';

@import 'typographie';

@import 'style';

@import 'buttons';

@import 'breadcrumb';

@import 'language-selector';

@import 'tab-selector';

@import 'title';

@import 'content';

/* Hacks pour inauguration */

a {
    color: $main-primary-color;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header a {
    color: #FFF;
    text-decoration: none;
}


audio {
    width: 100%;
}

.tabs-selector {
    margin-top: 1em;
}

#address {
    font-size: .9rem;
    padding: 0 ($padding-horizontal * 1.5);
    text-transform: uppercase;
    margin-bottom: $padding-horizontal;
}

h1, .h1 {
    font-size: 1.8rem;
}