{{ define "main" }}

{{ if .Params.banner }}
    <img class="banner" src="{{ .Params.banner }}" loading="lazy" width="800" height="800" alt="{{ .Title }}" >
{{ end }}

<div class="next-previous">
    <div class="next-post">
        {{ if .NextPage }}
        <a class="link-reverse" href="{{ .NextPage.Permalink }}">« {{ .NextPage.Title }}</a>
        {{ end }}
    </div>

    <div class="previous-post">
        {{ if .PrevPage }}
        <a class="btn" class="link-reverse" href="{{ .PrevPage.Permalink }}">{{ .PrevPage.Title }} »</a>
        {{ end }}
    </div>
</div>

<div class="title">
    <h1 class="h1">
        {{ .Title }}
    </h1>
</div>

{{ with .Params.address }}
    <div id="address">{{ .  | markdownify }}</div>
{{ end }}


{{ with .Params.audio }}
<audio controls src="{{ . }}">
    Votre navigateur ne lit pas ce type de fichier.
</audio>
{{ end }}

<div class="content">
    {{ .Content }}
</div>

{{ end }}